{% extends "admin/change_list.html" %}

{% block object-tools %}
<div>
  <form action="raffle/" method="POST">
    {% csrf_token %}
    <label for="utn-member-percentage">Desired UTN-member percentage:</label>
    <input id="utn-member-percentage" name="utn-member-percentage" type="number" value="80" min="1" max="100" style="width: 3em"/>%
    <br/>
    <input type="submit" value="Raffle the slots!"/>
    <br/>
    <p>
      A UTN-member percentage of 100% means that 100% of the winners will be UTN members, while 0% means that no UTN-members will receive a rafting slot in the raffle. Adjust accordingly.
      <br/>
      Currently <strong>{{ utn_percentage }}%</strong> of raffle participants are utn members
    </p>
  </form>
</div>
<br />
{{ block.super }}
{% endblock %}
