<html lang="en">
  <body>
    <main class="flex-container-start-page">
      {%if is_leader %}
      <div>
        <h3>Team invite link</h3>
        <br>
        <input
          type="text"
          value="http://{{ request.get_host }}{% url 'join_group' group_join_id=join_id %}"
          disabled
        >
      </div>
      {% endif %}
      <div class="team-information">
        {% if is_leader %}
        <form method="post">
          <button type='button' onclick='toggleForm(this)'>Edit</button>
          {% csrf_token %}
        {% else %}
        <div>
        {% endif %}


          <h3>{{ group_name }}</h3>
          <p>Start number: {{ group_nr | default:"Not set yet" }}</p>
          <input name='type' value="group" type='hidden'/>
          {{ group.as_p }}


        {% if is_leader %}
        </form>
        {% else %}
        </div>
        {% endif %}
      </div>

      <form method="post">
        <button type='button' onclick='toggleForm(this)'>Edit</button>
        <input name='type' value="me" type="hidden"/>
        {% csrf_token %}
        {{ me }}
      </form>

      {% if is_leader %}
      <form method="post">
        <button type='button' onclick='toggleForm(this)'>Edit</button>
        {% csrf_token %}
        <input name='type' value="others" type="hidden"/>

      {% else %}
      <div>
      {% endif %}

        {{ others.as_p }}

      {% if is_leader %}
      </form>
      {% else %}
      </div>
      {% endif %}

      <!--
       !-- Dates
        -->
      <div>
        {% for date in dates %}
        <p>
          {{ date }}
          </p>
        {% endfor %}
      </div>
      {% if is_leader %}
            <b>You can only pay once!</b>
            <br>
            <form action="{% url 'make_payment' %}" method="get" id="send_payment" >
                <input
                    type="Submit"
                    value="Go to UTN pay"
                    {% if request.user.belongs_to_group.payment_initialized %}
                        disabled
                    {% endif %}
                >
            </form>
            <script>
                document.getElementById("send_payment").addEventListener("click", function(event){
                    if(!confirm("Are you sure?")) {
                        event.preventDefault();
                    }
                });
            </script>
        {% endif %}
    </main>
  </body>

  <script type="text/javascript">
    const toggleForm = button => {
        form = event.target.parentElement
        formElements = form.querySelectorAll('input:not([name="csrfmiddlewaretoken"]):not([type="hidden"]), select');

        for (const element of formElements) {
            console.log(element);
            if (element.disabled) element.toggleAttribute('disabled')
            else element.toggleAttribute('readonly')
        }

        if (formElements[0] && formElements[0].readOnly) {
            form.submit();
        } else {
            event.target.innerHTML = 'Save';
        }
    }
  </script>
</html>
