* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    font-size: 18;
    font-weight: 100;
    line-height: 1.3;
}

#welcome-text {
    text-align: center;
}

h2 {
    font-size: 15;
    font-weight: normal;
    line-height: 1.3em;
    align-self: center;
}

div {
    font-size: 12;
    line-height: 1.3em;
}

button,
.base-button {
    background-color: #C82D30;
    color: white;
    padding: 1em 5em;
    border: 0;
    border-radius: 5em;
}

.button-link {
    text-decoration: none;
    color: white;
}

#forsranning {
    width: 85%;
}

footer {
    background-color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    margin-top: auto;
    align-items: center;
    padding: 0;
    padding-bottom: 0.5em;
}

.socmed {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socmed-imgs {
    display: flex;
}

#insta,
#fb {
    width: 70%;
    margin: 0.5em;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-image {
    width: 100%;
}

.footer-contact {
    display: flex;
    padding: 0.5em;
}

.footer-titles {
    text-align: end;
    padding-right: 0.5em;
}

.footer-emails {
    text-align: start;
    padding-left: 0.5em;
}

.powered-by {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-websites,
.powered-by-2020 {
    display: none;
}

#dk {
    width: 7%;
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url(../images/background.png);
        background-size: cover;
        margin: 0;
    }
    header {
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    #forsranning {
        width: 70%;
        height: 30%;
    }
    h1 {
        font-size: 19;
        font-weight: bolder;
        line-height: 1.4;
    }
    h2 {
        font-size: 16;
        line-height: 1.4;
    }
    div {
        font-size: 13;
        line-height: 1.4;
    }
    #dk {
        height: 1em;
        width: 1em;
    }
    footer {
        margin-top: 0;
        padding: 1em 0;
    }
    .footer-image {
        display: none;
    }
    .contact {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1em;
        padding-top: 0;
    }
    .footer-contact {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding: 0;
        padding-top: 1em;
        padding-right: 1em;
    }
    h2.contact {
        display: none;
    }
    .socmed {
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }
    #insta,
    #fb {
        width: 50%;
    }
    .footer-websites {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    .footer-titles {
        font-weight: bold;
    }
    .footer-content {
        font-size: 1em;
        padding: 0.3em;
    }
    .footer-content a {
        text-decoration: none;
        color: white;
    }
    .powered-by {
        font-size: 0.6em;
    }
    .powered-by-2020 {
        font-size: 1em;
        display: flex;
    }
}