#container {
    padding: 10px;
}

.user-payment-summary {
    width: 100%
}

thead {
    font-size: 12;
    line-height: 1.3em;
    color: #A3A3A3
}

tbody {
    font-size: 15;
    line-height: 1.3em;
    text-align: center;
}

#header-cell-0 {
    text-align: left;
}

tr {
    text-align: left;
}

#subtotal {
    text-align: right;
    font-weight: bold;
    font-size: 15;
}

#subtotal>span {
    font-weight: normal;
    font-size: 18;
}