{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'registrationSystem/style.css' %}">

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="wrapper">
    <h1>Register your account</h1>
    <h2>Make sure your information is correct and choose a password.</h2>
    <p>If any of your information is incorrect, click <a href="">here</a></p>

    <form action="{{request.path}}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class=input-container>
                <p class=label>{{ field.label }}</p>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Registrera">
    </form>
    </div>
</body>
</html>
