{% extends "page_base.html" %} {% load static %}
{% block content %}
<div class="info-container">
  <h3>You are joining: {{ group.leader.name }}'s group</h3>
  <h1>The {{ group.name }}</h1>
  <h2>Please fill in your information below</h2>
</div>

<form action="{{request.path}}" method="POST">
  {% csrf_token %}
  <div class="input-container">
    {% for field in form.visible_fields %}
    <div class="input-div">
      {{ field }}
      <label class="form-control-label">{{ field.label }}</label>
    </div>
    {% endfor %}
  </div>
  <div class="button-container">
    <input type="submit" value="Registrera">
  </div>
</form>

{% if form.errors %}
<div>
  {% for field in form %}
  {% for error in field.errors %}
  <div>
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div>
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
