main.status {
    padding: 0;
}

.inactive-button {
    background-color: #707070;
}

h2.status {
    background-color: white;
    padding: 1em;
}

@media only screen and (min-width: 600px) {
    body.status {
        align-items: flex-start;
    }
    .status.box {
        width: 50%;
        height: 100%;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    main.status {
        width: 80%;
    }
}