main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
}

.inactive-button {
    background-color: #707070;
}

h2.status {
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 1em;
}

@media only screen and (min-width: 600px) {
    main {
        width: 50%;
        height: 100%;
        justify-content: flex-start;
        background-color: white;
    }
    header {
        width: 70%;
        justify-content: flex-start !important;
    }
    h2.status {
        text-align: start;
        font-size: 1em;
        padding: 0;
    }
    .box {
        padding: 6em;
    }
    button {
        padding: 1em 3em !important;
    }
    .button-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}