.wrapper {
    width: 440;
    height: 570;
    margin: auto;
    background-color: rgba(243, 243, 243, 0.8);
    text-align: center;
}

.input-container{
    width: 340px;
    height: 50;
    margin: auto;
    background-color: #ffffff;
    text-align: left;
    /* padding: 10px 4px; */
    border-width: 1px;
    border-radius: 5px;
}
input {
    background-color: transparent;
    border: none;
}
input[type=submit] {
    width: 200;
    height: 50;
    margin: auto;
    background-color: red;
    border-radius: 25px;
}
.label {
    /* margin: 4px; */
    /* margin-left: 10px; */
    color: #797979;
}
