<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Anmälan till Forsränningen</title>
    <link rel="icon" type="image/ico" href="{% static 'images/logo_small.png' %}" />
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/5858a2c46f.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<body>
    <main>
        <div class="box">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <img class="footer-image" src="{% static 'images/background.png' %}" id="footer-image">
        <div class="contact">
            <h2>Contact us</h2>
            <div class="footer-contact">
                <div class="footer-titles">
                    Payment – Guld <br>
                    Technical – Webb <br>
                    General – Start <br>
                    Equipment – Mål<br>
                </div>
                <div class="footer-emails">
                    guld@forsränningen.utn.se <br>
                    webb@forsränningen.utn.se <br>
                    start@forsränningen.utn.se <br>
                    mal@forsränningen.utn.se
                </div>
            </div>
            <div class="socmed">
                <a href="https://www.instagram.com/forsranningen/">
                    <img src="{% static 'images/instagram.png' %}" id="insta">
                </a>
                <img src="{% static 'images/facebook.png' %}" id="fb">
                <img src="{% static 'images/youtube.png' %}" id="youtube">
            </div>
        </div>
        <div class="powered-by">
            Powered by &nbsp;<img src="{% static 'images/dk.png' %}" id="dk"> &nbsp;Digitaliseringkommittén
        </div>
    </footer>
</body>
</html>
