<html lang="en">
  {% include "head.html" %}

  <body>
    <main class="flex-container-start-page">
      <h1>
        Forsränningen 2020
      </h1>
      <div class="team-information">
        <h2>
          {{ group.name }}
        </h2>

        <h3>me</h3>
        <button>edit me</button>
        {% for name, value in user.properties %}
        <h4>{{ name }}</h4>
        <p>{{ value }}</p>
        {% endfor %}


        <h3>others</h3>
        {% for other in others %}
        {% for name, value in other.properties %}
        <form>
          <button class='edit_button'>edit me</button>
          <h4>{{ name }}</h4>
          <p>{{ value }}</p>
        </form>
        {% endfor %}
        {% endfor %}
        <!-- osv -->

      </div>
    </main>
  </body>

</html>
