<html lang="en">
  <body>
    <main class="flex-container-start-page">
      <div class="team-information">
        <form method="post">
          <button type='button' onclick='toggleForm(this)'>Edit</button>
          {% csrf_token %}
          <h3>{{ group_name }}</h3>
          <p>Start number: {{ group_nr | default:"Not set yet" }}</p>
          <input name='type' value="group" type='hidden'/>
          {{ group.as_p }}
        </form>

      </div>

      <form method="post">
        <button type='button' onclick='toggleForm(this)'>Edit</button>
        {% csrf_token %}
        {{ users.management_form }}
        <input name='type' value="user" type="hidden"/>
        {% for user in users %}
        <div>
          {{ user }}
        </div>
        {% endfor %}
      </form>
    </main>
  </body>

  <script type="text/javascript">
    const toggleForm = button => {
        form = event.target.parentElement
        formElements = form.querySelectorAll('input:not([name="csrfmiddlewaretoken"]):not([type="hidden"])');

        for (const element of formElements) {
            if (element.onclick) element.toggleAttribute('onclick')
            else element.toggleAttribute('readonly')
        }

        if (formElements[0] && formElements[0].readOnly) {
            form.submit();
        } else {
            event.target.innerHTML = 'Save';
        }
    }
  </script>
</html>
