{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="flex-container-start-page">
    <div class="images-container">
        <img src="{% static 'images/forsränning.png' %}" id="forsranning">
        <img src="{% static 'images/arr_av_utn.png' %}" id="arr">
    </div>
    <h1>
        Anmälan är öppen!
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.errors }}
        Namn <br> {{ form.name }} <br>
        E-mail <br> {{ form.email }} <br>
        Personnummer <br> {{ form.personnr }} <br>
        <button type="submit" value="Submit">OK</button>
    </form>
</main>
{% endblock %}

